.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    background-color:rgb(148, 12, 245);
    padding-bottom: 300px;
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%
   }
.text{
    color: black;
    font-size: 40px;
    font-weight: 500;
   }
.inputs
   {
    display:flex;
    align-items: center;
    margin-top:50px;
    }
.input{
    display:flex;
    align-items: center;
    margin:auto;
    width:400px;
    height: 70px;
    background-color: #eaeaea;
    
   }
   .input input{
        display:flex;
        align-items: center;
        width:200px;
        height:30px;
        color: #797979;
        margin-right:60px;
        }
.submit-container{
            display:flex;
            gap:30px;
            margin:60px auto;
        }
.submit{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    width:70px;
    background-color:white;
    border-radius:30px;
    color:rgb(148, 12, 245);
    cursor:pointer;
}
.gray
{
    background:#EAEAEA;
    color: #676767;
}
.buton{
align-self: center;
background-color:white ;
color:black;
width:60px;
    
}
.del
{
    align-self: center;  
}
.home
{
    background-color:rgb(148, 12, 245); ;
    color:black;
    padding:200px;
    align-self:center;
    
}